* text=auto
*.cs text eol=lf
*.shader text eol=lf
*.hlsl text eol=lf
*.json text eol=lf
*.asmdef text eol=lf
*.asmref text eol=lf
*.unity text eol=lf whitespace=-blank-at-eol
*.prefab text eol=lf whitespace=-blank-at-eol
*.asset text eol=lf whitespace=-blank-at-eol
*.mat text eol=lf whitespace=-blank-at-eol
*.meta text eol=lf whitespace=-blank-at-eol
*.blend filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
