/Unity/PatanExplorer/[Ll]ibrary/
/Unity/PatanExplorer/[Tt]emp/
/Unity/PatanExplorer/[Oo]bj/
/Unity/PatanExplorer/[Bb]uild/
/Unity/PatanExplorer/[Bb]uilds/
/Unity/PatanExplorer/[Ll]ogs/
/Unity/PatanExplorer/[Uu]ser[Ss]ettings/
/Unity/PatanExplorer/MemoryCaptures/
/Unity/PatanExplorer/Recordings/
/Builds/*
/ArtSource/References/Restricted/*
/WorldData/Survey/Restricted/*
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.blend1
*.blend2
*.alf
*.ulf
.vs/
.idea/
.gradle/
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
sysinfo.txt
